.podpis {
  color: orangered;
  
}
.na {
  color: blue;
}
.stix{
  color: darkgray;
}
.oo {
  color: purple;
}
.vova {
  color: white;
}
.w{
  color: indigo;
}
.l{
  color: darkred;
}
.ogo {
  color: darkblue;
}
.r {
  color: navy;
}
.wow{
  color: red;
}